.main-left{
	width: 25vw;
	min-height: 75vh;
	background-color: white;
	border: 3px solid rgb(15,15,15);
	color: gray;
	margin: 5px;
	-moz-box-shadow: 10px 10px 5px #656565;
	-webkit-box-shadow: 10px 10px 5px #656565;
	-o-box-shadow: 10px 10px 5px #656565;
	box-shadow: 10px 10px 5px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5); 
}

.main-right{
	width: 70%;
}


.bar-search > div, .bar-search{
	text-align: center;
	margin-top: 20px;
}

#searchbar{
	width: 70%;
}

/* Container Offre */

.offre-div{
	border: 2px solid lightgray;
	background-color: rgb(15,15,15);
	color: lightgray;
	margin: 10px 0;
	padding: 5px;
	text-align: left;
}

.offre-div > div{
	margin: 8px 0;
}

.offre-titre{
	font-size: 1.3em;
}

.offre-date{
	float: right;
	margin-right: 5px;
}

.offre-desc { 
    max-height: 3.4em;
    overflow: hidden;
    text-overflow:ellipsis;
    transition: 1s;
    background-color: white;
    margin-right:10px;
    padding: 5px;
    border-radius: 5px;
    color: gray;
}

.offre-link{
	float: right;
	margin-right: 5px;
	color: white;
}

@media (max-width: 1000px){
	.main-left{
		width: 90%;
		margin: 0 auto;
		display: block;
		min-height: 0;
	}
	.main-right{
		width: 100%;
	}
}