.main{
	color: lightgray;
	padding: 1vh 0.5vw;
	padding-top: 2vh;
	display: block;
}

.main > div{
	padding-top: 1vh;
}

.info-div{
	display: inline-block;
	background-color: rgb(15,15,15);
	width: 20vw;
	margin: 10px 20px;
	padding: 10px;
}

.info-titre{
	font-size: 1.2em;
}

.info-desc{
	padding: 5px;
	background-color: white;
	border-radius: 5px;
	color: black;
	max-height: 3.4em;
    overflow: hidden;
    text-overflow:clip;
}

.info-desc > div{
	font-size: 1.1em;
}

.info-link{
	float: right;
	margin-top: 5px;
}