body{
	margin: 0;
	margin-top: -20px;
	background-color: rgb(220,220,220);
	font-family: Georgia, serif;
	z-index: 1;
}

body > div{
	padding: 0;
}

.container{
	width: 95%;
	margin: 0 auto;
	background-color: white;
	-moz-box-shadow: 10px 10px 5px #656565;
	-webkit-box-shadow: 10px 10px 5px #656565;
	-o-box-shadow: 10px 10px 5px #656565;
	box-shadow: 10px 10px 5px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5); 
}

.clearboth{
	clear: both;
}

.error{
	display: inline-block;
}

a{
	text-decoration: none; 
}


/* header */

header{
	height: 100px;
	border-bottom: 5px solid black;
	z-index: 2;
}

header > img{
	height: 100%;
	padding: 0  5px !important;
}

header > div{
	display: inline-block;
}

.element-header{
	border: none;
	padding: 15px 30px;
	vertical-align: middle;
	font-size: 1.1em;
}

a.element-header{
	color: black;
	text-decoration: none;
	font-size: 1.4em;
}

a.element-header, div.element-header{
	border-bottom: 2px solid transparent;
	border-top: 2px solid transparent;
}

a.element-header:hover, button{
	border-bottom: 2px solid green;
	border-top: 2px solid green;
	cursor: pointer;
}

.authDiv{
	float: right;
	margin: 27px;
}

@media (max-width: 1141px){
	
	header{
		height: auto;
	}

	.element-header{
		display: block;
		margin: 20px 250px;
		text-align: center;
		float: none;
	}

	header > img{
		height: 100px;
		margin: 0 auto !important;
	}

	.authDiv{
		margin: 27px 250px;
	}

	.panel[show]{
	transition: 0.5s;
	width: 300px;
	position: relative;
	height: 200px;
	right: unset;
	left: unset;
	top: 30px;
	margin: auto;
	min-width: 150px;
}
}

/* autres */

.img-fond{
	width: 100%;
	height: 50%;
	filter: grayscale(100%) blur(2px);
    -webkit-filter: grayscale(100%) blur(2px);
    -moz-filter: grayscale(100%) blur(2px);
    -ms-filter: grayscale(100%) blur(2px);
    -o-filter: grayscale(100%) blur(2px);
}

.hr-black{	
	height: 1vh;
	width: 100%;
	background-color: rgb(15,15,15);
}

.main{
	vertical-align: top;
	display: inline-block;
	margin: 0;
}

.main-right{
	text-align: center;
}

/* Panel de connection */

#btn-panel-login{
	margin: 0;
	background-color: transparent;
	border: none;
	font-size: 1.1em;
}

.back-panel{
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 98vw;
	height: 200vh;
	background-color: rgba(0,0,0,0.0);
}

.back-panel[display="none"]{
	display: none;
}

.div-auth {
	float: right;
}

.panel{
	z-index: 100;
	position: absolute;
	top: -100vh;
	right: -20vw;
	background-color: white;
	border-radius: 5px;
	width: 30vw;
	height: 35vh;
	margin: 0 auto;
	margin-top: 20vh;
	margin-right: 20vw;
	overflow-x: hidden;
	transition: 0.3s;
	cursor: default;
}

.panel[show]{
	transition: 0.5s;
	top: 2vh;
	height: 250px;
	display: all;
}


.formulaire{
	transition: 0.3s;
	display: inline-block;
	text-align: center;
	width: 30vw;
	margin-top: 20px;
	margin-bottom: 0 !important;
}

.div-auth .div-input{
	display: inline-block;
	position: relative;
	margin: 10px 0;
}

.div-input label{
	display: block;
}

.div-auth .btn-login{
	margin: 20px 0;
	padding: 10px; 
	width: 40%;
	background-color: #CCFF99;
	border: 1px solid #CCFF99;
}

.div-auth .error{
	padding: 3px;
	color: white;
	left: 0;
	border-radius: 5px;
	background-color: rgba(220,20,20,0.7);
}

#containerMain{
	text-align: center;
}

.errorPage{
	background-color: rgb(15,15,15);
	display: inline-block;
	width: 50vw;
	margin: 5vh 0;
	padding: 2vh 3vw;
	border-radius: 5px;
	color: gray;
	text-align: center;
}

.errorPage > div{
	margin: 10px;
}

/*  Pied de page  */

footer{
	background-color: rgb(15,15,15);
	color: lightgray;
	text-align: center;
	margin: 10px 0 0 0; 
}

/*

*/