				<button id="btn-panel-login"> Se Connecter</button>

				<!-- Panel de connection -->
				<div id="back-panel-login" class="back-panel" display="none">
				</div>
				<div id="panel-login" class="panel">
					<div class="container-formulaire">
						<div class="formulaire loginPanel" active>
							<form action="||URL||" method="get" divType="form" id="formConnexion">
								<div class="div-input">
									<label for="authName"><b>Identifiant: </b></label>
									<input type="text" name="auth-name" id="authName" placeholder="Nom du compte" required>
								</div>
								<br>
								<div class="div-input">
									<label for="authPass"><b>Password: </b></label>
									<input type="password" name="auth-pass" id="authPass" placeholder="Mot de passe" required>
								</div>
								<br>
								<input type="submit" text="Login" class="btn-login">
							</form>
						</div>
					</div>
				</div>